NoteShare/Gemfile.lock
*.class
*.pyc
*.pyo

/tmp/*.*
/db/test.sqlite3
/log/test.log
/log/development.log
/db/development.sqlite3

/tmp/cache
/tmp/pids
/tmp/sessions
/tmp/sockets
/db/development.sqlite3